<%=render "add"%>
<h3>Running countdowns</h3>
<ul id="running-countdowns">
<%#<li><label class="eventLabel">Event</label><input class="eventInput" type="text">%>
<%#<button class="editButton">Edit</button><button class="deleteButton">Delete</button>%>
<%#<label class="counterLabel">21d, 17h, 35min</label><input type="datetime-local" value="2015-12-19T16:39"></li>%>
<% @happenings.each do |happening| %>
    <%puts happening%>
    <% if happening.get_countdown_string != "completed"%>
        <%if happening.id == @happening.id %>
            <%=render "update", happening: happening%>
        <%else%>
            <%=render "label", happening: happening%>
        <%end%>
    <%end%>
<% end %>
</ul>

<h3>Completed countdowns</h3>
<ul id="completed-countdowns">
<% @happenings.each do |happening| %>
    <% if happening.get_countdown_string == "completed"%>
        <%if happening.id == @happening.id %>
            <%=render "update", happening: happening%>
        <%else%>
            <%=render "label", happening: happening%>
        <%end%>
    <% end %>
<% end %>
</ul>
<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
