<div class="container">
  <p>
  <%= flash[:notice] %>
  <h3>New Countdown</h3>
  <form method="post" action="/happenings/create">
      <input id="new-counter" class="eventInput" type="text" name="happening_name">
      <button type="submit" class="addButton">Add</button>
      <input type="datetime-local" id="new-date" name="happening_time">
  </form>
  </p>
  
  <h3>Running countdowns</h3>
  <ul id="running-countdowns">
    <%#<li><label class="eventLabel">Event</label><input class="eventInput" type="text">%>
    <%#<button class="editButton">Edit</button><button class="deleteButton">Delete</button>%>
    <%#<label class="counterLabel">21d, 17h, 35min</label><input type="datetime-local" value="2015-12-19T16:39"></li>%>
    <% @incomplete.each do |happening| %>
        <li id = "<%=happening[:id].to_s%>"><label class="eventLabel"><%= happening[:name]%></label><input class="eventInput" type="text">
        <button class="editButton">Edit</button><button class="deleteButton">Delete</button>
        <label class="counterLabel"><%= happening[:countdown] %></label>
        <input type="datetime-local" value=<%= happening[:date].to_s %>></li>   
    <% end %>
  </ul>
  
  <h3>Completed countdowns</h3>
  <ul id="completed-countdowns">
    <% @completed.each do |happening| %>
         <li id ="<%= happening[:id].to_s %>"><label class="eventLabel"><%= happening[:name]%></label><input class="eventInput" type="text">
        <button class="editButton">Edit</button><button class="deleteButton">Delete</button>
        <label class="counterLabel"><%= happening[:countdown] %></label>
        <input type="datetime-local" value=<%= happening[:date].to_s %>></li>   
    <% end %>
  </ul>
</div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
